.main {
    position: relative;
    left: 25%;
    top: 100px;
}

.legend {
    position: relative;
    left: 44%;
    top: 75px;
}

.john_span {
    display: inline-block;
    width: 75px;
    height: 8px;
    background: lightgreen;
}

.larry_span {
    display: inline-block;
    width: 75px;
    height: 8px;
    background: lightblue;
}

.top_title {
    position: relative;
    left: 41%;
    top: 50px;
    font-size: 1.4em;
    font-style: italic;
}

div {
    cursor: pointer;
}

.display_score {
    display: none;
    position: relative;
    left: 44%;
    top: 95px;
    width: 300px;
    height: 75px;
    cursor: default;
    border-radius: 5px;
    font-size: 1.1em;
    color: grey;
    
}

.larry_style {
    background: lightblue;
    border: 1px solid white;
    width: 10px;
    margin-right: 7px;
}

.john_style {
    background: lightgreen;
    border: 1px solid white;
    width: 10px;
}

.day_chart {
    display: inline-block;
    margin-right: 13.6px;
    cursor: pointer;
    color: lightblue;
    text-decoration: underline;
}

/* AJUSTEMENT DE L'ALIGNEMENT DES JOURS SOUS LES BARS */
p {
    margin-top: -20px;
}

p:nth-of-type(2) {
    margin-left: 4px;
}

p:nth-of-type(3) {
    margin-left: 3px;
}

p:nth-of-type(4) {
    margin-left: -11px;
}

p:nth-of-type(8) {
    margin-left: -11px;
}

p:nth-of-type(11) {
    margin-left: 3px;
}

p:nth-of-type(13) {
    margin-left: 5px;
}

p:nth-of-type(16) {
    margin-left: 4px;
}

p:nth-of-type(19) {
    margin-left: 4px;
}

p:nth-of-type(21) {
    margin-left: 4px;
}

p:nth-of-type(24) {
    margin-left: 3px;
}

p:nth-of-type(25) {
    margin-left: px;
}

p:nth-of-type(27) {
    margin-left: -12px;
}